hr{
background-color:#ffffff;
height:1px;
border:0px;
}

body{
background-image:url(images/bk.jpg) 
}


.A {
background-image:url(images/logo.jpg);
width:362px;
height:139px;
margin:0px auto;
}



.C {
width:800px;
margin:auto;
}

.D {
background:#867979;
width:780px;
margin:0px auto;
color:#ffffff;
padding:10px;
}

img {
height:100px;
width:100px;
border:4px;
padding:10px;
}
/*--------Izvelne2 dizaina noformējums----------*/

.izvelne2 {
background:#867979;
padding:10px;
}

.izvelne2  li{
list-style-type:none;  /*tiek noņemta nesakārtotā saraksta simbols pirms nosaukuma*/
display:inline; /* saraksts tiek atspoguļots horizontāli (pēc noklusējuma tiek atspoguļots vertikāli) */
}

.izvelne2 li a{
text-decoration:none; /*tiek noņemts noklusētā krāsa */
background:#867979;
color:#ffffff; /* teksta krāsa */
padding:10px; /*attālums no teksta līdz taisnastūra malām*/
}

.izvelne2 li a:hover{
padding:20px;
}
/*--------Izvelne 2 dizaina noformējuma beigas----------*/


.epasts {
color:#000000;
padding:40px;
background-color:#867979;
}

